#img-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}
#title {
    text-align: center;
}
#img-caption{
    text-align: center;
    
}
p {
    text-align: justify;
    text-justify: inter-word;
    padding: 30px;
    margin: auto;

}

